.container{ 
    width: 1280px;
    height: 1024px;
    background: url("world.jpg");
}

.container div {
    display: inline-block;
    margin: 167px;
    width: 300px;
}

.container span {
    display: table;
}